#home {
	background: #fff;
	color: black;
}
.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}
footer p a {
	margin: 5px 15px;
}

.transp img {
	opacity: 1;
}
.transp img:hover {
	opacity: 0.7;
}
a:link {
	text-decoration: none;
}
#recentes {
	text-align: center;
	line-height: 1.2em;
	font-size: 2em;
	color: #008080;
}
#autor {
	display: block;
	font-size: 10px;
	color: #808080;
}
#autor img {
	border-radius: 50%;
}
.zoom {
	overflow: hidden;
	margin-left: 10px;
}
.zoom img {
	transition: all 0.3s;


}
.zoom:hover img {
	transform: scale(1.1);
}
h4 {
	font-family: "BrandonGrotesqueWeb-Regular,sans-serif";
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 13px;
	color: #696969;
	text-align: center;
}
#duracao {
	font-size: 15px;
	color: #20B2AA;
	text-align: center;
}
ul.teste {
    padding: 0;
    margin: 0;

}

ul.teste li {
	display: inline;
}

ul.teste li a {
	background-color: white;
	margin-right: 10px;
	font-size: 17px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

}

 ul.teste a:hover {
 	background-color: black;
	color: white;
	
}

#pagina {
	display: flex;
	justify-content: center;

}
#texto {
	padding-top: 50px;
	padding-bottom: 10px;
}
#titulo {
	padding-left: 30px;
	padding-bottom: 20px;
	font-family: "Roboto"
	letter-spacing: 1px;
	font-size: 30px;
}
#titulo2 {
	padding-left: 30px;
	padding-bottom: 20px;
	font-family: "Roboto"
	letter-spacing: 1px;
	font-size: 18px;
}
#descricao {
	padding-left: 30px;
	padding-bottom: 20px;
	font-family: "Roboto"
	font-size: 15px;
}
.produtos {
	font-size: 2em;
	color: #79baa7;
	font-family: "Roboto";
	font-weight: 500px;
	line-height: 1.2em;
}


.valor {
	padding-left: 30px;
	font-family: "Roboto";
	font-size: 30px;
	width: 70%;
	padding-bottom: 10px;
}
.comprar {
	font-size: 25px;
	background: black;
	float: left;
	height: 60px;
	color: white;
	width: 180px;
	text-align: center;
	line-height: 60px;
}
.comprar a{
	color: inherit;
}

.box {
	width: 320px;
	float: left;
	display: flex;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 10px;

}
.box label {
	margin-right: 10px;
}
.box .button {
	width: 37px;
	height: 37px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.box .button:active {
	background: #ccc;
}
.box input {
	width: 60px;
	padding: 5px 10px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	margin: 0 7px;
}
